/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color:fuchsia;
    color: black;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
}

.info-gym {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: pink;
    text-align: center;
}

.info-box {
    background-color: violet;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

.info-box h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.info-box ul {
    list-style: none;
    margin: 10px 0;
}

.info-box ul li {
    font-size: 1.2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 1200px) {
    .info-gym {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .info-gym {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .info-gym {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }
}
